body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

ul li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-weight: 400;
}

ol li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-weight: 400;
}